build/
out
target/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.DS_Store
*~
packages/
**/dependency-reduced-pom.xml
**/dist/
/docker/snapshot/*.gz
OALLexer.tokens
.factorypath
.vscode
.checkstyle
.externalToolBuilders
oap-server/oal-grammar/**/gen/
.gradle
